<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{usuario}}
                <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesion<i class="fa fa-sign-out"></i></a>
            </p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-7">
        <h3>Listado de novedades</h3>
    </div>

</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td class="text-center">
                        <a href="/admin/novedades/modificar/{{id}}" title="editar" class="btn btn-sm btn-secondary"><i class="bi-pencil-fill"></i></a>
                        <a href="/admin/novedades/eliminar/{{id}}" title="eliminar" class="btn btn-sm btn-secondary"><i class="bi-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="col-2 text-right">
    <a href="/admin/novedades/agregar" class="btn btn-success">
    <i class="bi bi-plus"></i>nuevo</a>
</div>